body{
    display: grid;
    place-items: center;

}

#message{
    color:green;
    font-weight: 700;
    font-size:16px;
    text-align:left;
}

.main{
    padding:20px;
    border:1px solid black;
    border-radius: 5px;
}


.heading{
    text-align: center;
}


.input{
    display:flex;
    gap:20px;
    align-items: center;
    margin-bottom: 20px;
}
.input input{
    padding:8px;
}

.input select{
    padding:10px;
}


.input button{
    padding:10px;
    color:white;
    background-color: green;
    border: none;
    border-radius:5px;
}

button:hover{
    cursor:pointer;
}


#first_row{
    background-color: rgb(243, 243, 243);
}




table{
    width:100%;
    margin-bottom: 20px;
}


.tr,th,td{
    border:1px solid rgb(219, 218, 218);
    padding:15px;
}

.total{
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}